//- Include svg paths data
include ./paths.pug

header.header
  .container
    .header__cont
      img.logo(src='assets/img/common/logo.svg' alt='Nvidia')

      .burger-menu.hidden

      nav.header-nav
        ul.header-nav__list
          li.header-nav__item
            a.header-nav__link(href='#') Продукты
          li.header-nav__item
            a.header-nav__link(href='#') Технологии
          li.header-nav__item
            a.header-nav__link(href='#') Experience

      .header-social
        a.header-social__link(href='#')
          svg(
            width='48'
            height='48'
            viewBox='0 0 48 48'
            fill='none'
          )
            path(
              d=PATHS.twitter
              fill='#808080'
            )

        a.header-social__link(href='#')
          svg(
            width='48'
            height='48'
            viewBox='0 0 48 48'
            fill='none'
          )
            path(
              d=PATHS.instagram
              fill='#808080'
            )

      .burger-btn
        span.burger-btn__elem